{{ define "main" }}
<article class="post publication-page">
  <h1 class="post-title publication-page__title" id="selected-publications-heading">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    <span class="publication-page__scholar">
      All publications on
      <a
        href="https://scholar.google.com/citations?user={{ site.Data.citations.scholar_user_id }}&amp;hl=en"
        target="_blank"
        rel="noopener noreferrer"
      >Google Scholar</a>.
    </span>
  </h1>

  <div class="post-meta">
    {{- if .Date -}}
      <time class="post-date">
        {{- partial "post-date" . -}}
        {{- if and $.Site.Params.showLastUpdated .Lastmod -}}
          &nbsp;{{- partial "post-lastmod" . -}}
        {{- end -}}
      </time>
    {{- end -}}
    {{- with .Params.Author -}}
      <span class="post-author">{{ . }}</span>
    {{- end -}}
  </div>

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">#</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>
</article>

{{ $publicationSort := resources.Get "js/publication-sort.js" | js.Build | minify | fingerprint }}
<script src="{{ $publicationSort.RelPermalink }}" integrity="{{ $publicationSort.Data.Integrity }}" defer></script>
{{ end }}
