{{ define "main" }}
{{- $scholarURL := printf "https://scholar.google.com/citations?user=%s&hl=en" site.Data.citations.scholar_user_id -}}
<article class="post publication-page academic-page">
  {{ partial "academic-page-header.html" (dict
    "page" .
    "id" "selected-publications-heading"
    "supplementText" "All publications on"
    "supplementURL" $scholarURL
    "supplementLabel" "Google Scholar"
  ) }}

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">#</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>
</article>

{{ $publicationSort := resources.Get "js/publication-sort.js" | js.Build | minify | fingerprint }}
<script src="{{ $publicationSort.RelPermalink }}" integrity="{{ $publicationSort.Data.Integrity }}" defer></script>
{{ end }}
