{{- $profile := site.Data.profile -}}
<section class="home-profile" aria-labelledby="about-heading">
  <div class="home-profile__intro home-profile__block">
    <div class="home-profile__copy">
      <h1 id="about-heading">Hi, I'm {{ $profile.name }}. <span class="home-profile__alias">Call me {{ $profile.preferred_name }}.</span></h1>
      <p class="home-profile__headline">
        {{ $profile.headline | markdownify }}
      </p>
      {{- range $profile.about }}
        {{ . | markdownify }}
      {{- end }}
    </div>
    <figure class="home-profile__portrait">
      <img src="/images/profile/chosen-one.png" alt="Portrait of {{ $profile.name }}" width="800">
      <span class="home-profile__corner home-profile__corner--top-left" aria-hidden="true"></span>
      <span class="home-profile__corner home-profile__corner--top-right" aria-hidden="true"></span>
      <span class="home-profile__corner home-profile__corner--bottom-left" aria-hidden="true"></span>
      <span class="home-profile__corner home-profile__corner--bottom-right" aria-hidden="true"></span>
    </figure>
  </div>

  <section class="home-profile__block" aria-labelledby="interests-heading">
    <h2 id="interests-heading">Research interests</h2>
    <ul class="research-interests">
      {{- range $profile.research_interests }}
        <li><strong>{{ .title }}:</strong> {{ .description | markdownify }}</li>
      {{- end }}
    </ul>
  </section>

  <section class="news home-profile__block" aria-labelledby="news-heading">
    <h2 id="news-heading">Recent news</h2>
    {{- with $profile.job_banner }}
      {{- if .enabled }}
        <aside class="job-banner" aria-label="Job search status">
          <span aria-hidden="true">[OPEN TO WORK]</span>
          <div>{{ .text | markdownify }}</div>
        </aside>
      {{- end }}
    {{- end }}
    <p class="console-command news-console-command" aria-hidden="true">$ head -n 5 news.log</p>
    <div class="news-list__viewport" role="region" aria-label="Recent news" tabindex="0">
      <ol class="news-list">
        {{- range site.Data.news }}
          <li>
            <time datetime="{{ .date }}">{{ time.Format "Jan 2006" .date }}</time>
            <div>{{ .text | markdownify }}</div>
          </li>
        {{- end }}
      </ol>
    </div>
  </section>
</section>
